@font-face {
  font-family: "Gotham";
  src: url('../tipografia/Gotham/Gotham-Black.otf');
}
@font-face {
  font-family: "Gotham_Light";
  src: url('../tipografia/Gotham/Gotham-Light.otf');
}
@font-face {
  font-family: "Gotham_Book";
  src: url('../tipografia/Gotham/Gotham-Book.otf');
}


#svgMapa{
            width: 580px;
            height: 708px;
        }
        .Region:hover, .Region:hover path{
            fill: #DDFFFF !important;
            stroke: black !important;
        }

#svgMapa svg{
}


#sticky {

}


.panel-success>.panel-heading+.panel-collapse .panel-body{
  /*border-top-color:#d6e9c6;*/
  background-color: #2d2d2d;
}

.sidebar-nav #temas li:nth-child(7n):before {
background-color: #ec1b5a;
}
.sidebar-nav #temas li:nth-child(7n+1):before {
background-color: #79aefe;
}
.sidebar-nav #temas li:nth-child(7n+2):before {
background-color: #314190;
}
.sidebar-nav #temas li:nth-child(7n+3):before {
background-color: #279636;
}
.sidebar-nav #temas li:nth-child(7n+4):before {
background-color: #7d5d81;
}
.sidebar-nav #temas li:nth-child(7n+5):before {
background-color: #ead24c;
}
.sidebar-nav #temas li:nth-child(7n+6):before {
background-color: #2d2366;
}

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5rem 0.5rem;
}

#navInicio
{
  background-color: #82cf56;
  color: #000000;
}

#barra_superior
{
  position: fixed:
  top: 0;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
  color: #FFFFFF;
  background-color:#BA1414;

}
.navbar-default .navbar-brand{
  color: #FFFFFF;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  color: #000000;
  background-color:#BA1414;

}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  background-color:#BA1414;

}
.navbar-default .navbar-nav>li>a:hover{
  background-color:#BA1414;

}

.navbar-default .navbar-nav>li>a{

  color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #FFFFFF;
  background-color:##BA1414;

}
.colorNegro
{
  color: #000000;
}
.navbar-form .form-control {
    display: inline-block;
    width: 230px;
    vertical-align: middle;
}
#a_indicador img{
  width: 1286px;
  height: 380px;

}
#a_indicador p{
  color: #000000;

}
.button_search{
  float: right;
  margin-right: -46mm;
  margin-top: -8mm;

}
.button_admin{
  float: right;
      margin-right: -60mm;
      margin-top: -8mm;

}
.button_exit{
  float: right;
      margin-right: -72mm;
      margin-top: -8mm;

}
.button_search a:hover{
  background-color:#BA1414;

  border-top: 10px solid #BA1414;
  border-bottom: 10px solid #BA1414;
  border-left:1px solid #BA1414;
  border-right:5px solid #BA1414;
}
.button_admin a:hover{
  background-color:#BA1414;

  border-top: 10px solid #BA1414;
  border-bottom: 10px solid #BA1414;
  border-left:1px solid #BA1414;
  border-right:5px solid #BA1414;
}
.button_exit a:hover{
  background-color:#BA1414;

  border-top: 10px solid #BA1414;
  border-bottom: 10px solid #BA1414;
  border-left:1px solid #BA1414;
  border-right:5px solid #BA1414;
}

body
{
  background-color: #FFFFFE;

   font-family: "Gotham_Book",sans-serif;
}

nav
{
    color: #000000;
}
footer{
  background-color: #000000;

  font-family: 'Gotham_Book',sans-serif;


}

.img_eje1{
  width: 24%;
  float:left;
  margin-left: 1.5%;
  margin-top:1%;

}
.img_eje2{
  width: 24%;
  float:left;
  margin-left:.5%;
  margin-top:1%;
}
.img_eje3{
  width: 24%;
  float:left;
  margin-left:.5%;
  margin-top:1%;

}
.img_eje4{
  width: 24%;
  float:left;
  margin-left:.5%;
  margin-top:1%;

}
.img_zacatecas{
  width: 6%;


}
.ico_indicador{

  width: 50px;
  height: 25px;




}


.titulo_indicador {
  text-align: center;


}



.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    color: rgb(210, 172, 175);
}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  color: #ff0000;
  background: rgb(255, 51, 0);
}

    md-tabs.md-default-theme md-tabs-wrapper, md-tabs md-tabs-wrapper {
      background-color: #860C16;
      border-color: rgba(0,0,0,0.12);
  }
  md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    color: rgb(250,250,250);
}
md-content.md-default-theme, md-content {
    color: rgba(0,0,0,0.87);
    background-color: rgba(255,255,255,0.87);
}

.info_indicador{
  margin-left: 10%;
  width: 40%;
  float:left;
}
.table_municipios{
  height: 80rem;
  margin-left: 2%;
  float:left;

  width: 25rem;
  overflow-y: auto;
}
.table_municipios_valor:nth-child(odd) td{
  background-color: #ECEFF1;
}
.table_municipios_valor:nth-child(even) td{
  background-color: #90A4AE;
}
.map_indicador{
  margin-left: 2%;
  width: 50%;
  float:left;
}
.anos_indicador{
  margin-left: 2%;
}
.grafica_avance{
  margin-left: 4%;

  width: 40%;
  float:left;
}
.botton_bar{
  clear:both;
  color: #FFFFFF;
  background-color: #4e5152;
  width: 100%;
  bottom: 0;
  margin: auto;
  /*margin-left: 11pt;
  margin-right: 0;*/
  position: relative;
}
.image_footer img{
  max-width: 42vw;
  max-height: 17vh;
  margin-left: 5vw;
  margin-top: 7vh;
  /*margin-bottom: 2rem;*/
}
.logo_app {
  width: 15rem;
  margin-top:-5rem;
  /* para centrar la imagen *
  float: left;
  position: relative;
  left: 50%;
  */
  height: auto;
  margin-left: 2rem;
}
.lista_temas1{
  width: 40%;
  height: 150px;
  position: relative;
  left: 8%;
  float:left;
}
.lista_temas2{
  width: 40%;
  height: 150px;
  position: relative;
  left: 8%;
  float:left;
  margin-bottom: 2%;
  margin-left: .5%;

}

.list_telefonos{
  list-style-type: none;
  margin-left: -5ex;
}
.list_links{
  list-style-type: none;
  margin-left: -5ex;
}
.list_links a{
  text-decoration:none;
  color: #FFFFFF;
}
.list_links a:hover{
  color: #90A4AE;
}
.twitter_class{
  width: 50%;
  clear:both;

  margin-left: auto;
	margin-right: auto;
}

body.md-default-theme, body, html.md-default-theme, html {
    color: rgba(0,0,0,0.87);
    background-color: rgba(255,255,255,0.87);
}

.lista2 div{

width: 40%;
display: inline-block;




}
.lista2 a{


     text-decoration:none;
     color:#bfe1f1;


     position: relative;
     left: 70%;
}


.a_listaseguridad1{

      border-top: 10px solid #18a0c1;
      border-bottom: 10px solid #18a0c1;

      background-color:#18a0c1;

}
.a_listaseguridad2{

      border-top: 10px solid #46c3d8;
      border-bottom: 10px solid #46c3d8;

      background-color:#46c3d8;

}
.a_listaseguridad3{

      border-top: 10px solid #1e7499;
      border-bottom: 10px solid #1e7499;

      background-color:#1e7499;

}
.a_listaseguridad4{

      border-top: 10px solid #244e6e;
      border-bottom: 10px solid #244e6e;

      background-color:#244e6e;

}
.a_listagobierno1{

      border-top: 10px solid #a1da72;
      border-bottom: 10px solid #a1da72;

      background-color:#a1da72;

}
.a_listagobierno2{

      border-top: 10px solid #82cf56;
      border-bottom: 10px solid #82cf56;

      background-color:#82cf56;

}
.a_listagobierno3{

      border-top: 10px solid #59c143;
      border-bottom: 10px solid #59c143;

      background-color:#59c143;

}
.a_listagobierno4{

      border-top: 10px solid #438748;
      border-bottom: 10px solid #438748;

      background-color:#438748;

}
.a_listacompetitividad1{

      border-top: 10px solid #f5776d;
      border-bottom: 10px solid #f5776d;

      background-color:#f5776d;

}
.a_listacompetitividad2{

      border-top: 10px solid #f1463a;
      border-bottom: 10px solid #f1463a;

      background-color:#f1463a;

}
.a_listacompetitividad3{

      border-top: 10px solid #ee2e26;
      border-bottom: 10px solid #ee2e26;

      background-color:#ee2e26;

}
.a_listacompetitividad4{

      border-top: 10px solid #b32c28;
      border-bottom: 10px solid #b32c28;

      background-color:#b32c28;

}
.a_listamedio1{

      border-top: 10px solid #9e5db5;
      border-bottom: 10px solid #9e5db5;

      background-color:#9e5db5;

}
.a_listamedio2{

      border-top: 10px solid #592c81;
      border-bottom: 10px solid #592c81;

      background-color:#592c81;

}
.a_listamedio3{

      border-top: 10px solid #73339c;
      border-bottom: 10px solid #73339c;

      background-color:#73339c;

}
.a_listamedio4{

      border-top: 10px solid #3c2758;
      border-bottom: 10px solid #3c2758;

      background-color:#3c2758;

}
.sublista1_1_seguridad a{

  display:block;
    width:100%;
    height:auto;




    padding-left:10px;
    text-decoration:none;
    font-family:Georgia,serif,Times;
    font-size:18px;

    color: white;

}

.sublista1_1_gobierno a{

  display:block;
    width:100%;
    height:auto;





    padding-left:10px;
    text-decoration:none;
    font-family:Georgia,serif,Times;
    font-size:18px;

    color: white;


}
.sublista1_1_competitividad a{

  display:block;
    width:100%;
    height:auto;





    padding-left:10px;
    text-decoration:none;
    font-family:Georgia,serif,Times;
    font-size:18px;

    color: white;


}
.sublista1_1_medio a{

  display:block;
    width:100%;
    height:auto;




    padding-left:10px;
    text-decoration:none;
    font-family:Georgia,serif,Times;
    font-size:18px;

    color: white;


}


.sublista1_2_seguridad1 a{

  background: #18a0c1;
  border-top: 10px solid #18a0c1;
  border-bottom: 10px solid #18a0c1;
  border-left:2px solid #18a0c1;
  border-right:2px solid #18a0c1;

}
.sublista1_2_seguridad2 a{

  background: #46c3d8;
  border-top: 10px solid #46c3d8;
  border-bottom: 10px solid #46c3d8;
  border-left:2px solid #46c3d8;
  border-right:2px solid #46c3d8;

}
.sublista1_2_seguridad3 a{

  background: #1e7499;
  border-top: 10px solid #1e7499;
  border-bottom: 10px solid #1e7499;
  border-left:2px solid #1e7499;
  border-right:2px solid #1e7499;

}
.sublista1_2_seguridad4 a{

  background: #244e6e;
  border-top: 10px solid #244e6e;
  border-bottom: 10px solid #244e6e;
  border-left:2px solid #244e6e;
  border-right:2px solid #244e6e;

}
.sublista1_2_gobierno1 a{


  background: #a1da72;
  border-top: 10px solid #a1da72;
  border-bottom: 10px solid #a1da72;
  border-left:2px solid #a1da72;
  border-right:2px solid #a1da72;




}
.sublista1_2_gobierno2 a{


  background: #82cf56;
  border-top: 10px solid #82cf56;
  border-bottom: 10px solid #82cf56;
  border-left:2px solid #82cf56;
  border-right:2px solid #82cf56;




}
.sublista1_2_gobierno3 a{


  background: #59c143;
  border-top: 10px solid #59c143;
  border-bottom: 10px solid #59c143;
  border-left:2px solid #59c143;
  border-right:2px solid #59c143;




}
.sublista1_2_gobierno4 a{


  background: #438748;
  border-top: 10px solid #438748;
  border-bottom: 10px solid #438748;
  border-left:2px solid #438748;
  border-right:2px solid #438748;




}
.sublista1_2_competitividad1 a{


  background: #f5776d;
  border-top: 10px solid #f5776d;
  border-bottom: 10px solid #f5776d;
  border-left:2px solid #f5776d;
  border-right:2px solid #f5776d;




}
.sublista1_2_competitividad2 a{


  background: #f1463a;
  border-top: 10px solid #f1463a;
  border-bottom: 10px solid #f1463a;
  border-left:2px solid #f1463a;
  border-right:2px solid #f1463a;




}
.sublista1_2_competitividad3 a{


  background: #ee2e26;
  border-top: 10px solid #ee2e26;
  border-bottom: 10px solid #ee2e26;
  border-left:2px solid #ee2e26;
  border-right:2px solid #ee2e26;




}
.sublista1_2_competitividad4 a{


  background: #b32c28;
  border-top: 10px solid #b32c28;
  border-bottom: 10px solid #b32c28;
  border-left:2px solid #b32c28;
  border-right:2px solid #b32c28;




}
.sublista1_2_medio1 a{


  background: #9e5db5;
  border-top: 10px solid #9e5db5;
  border-bottom: 10px solid #9e5db5;
  border-left:2px solid #9e5db5;
  border-right:2px solid #9e5db5;
}
.sublista1_2_medio2 a{


  background: #592c81;
  border-top: 10px solid #592c81;
  border-bottom: 10px solid #592c81;
  border-left:2px solid #592c81;
  border-right:2px solid #592c81;
}
.sublista1_2_medio3 a{


  background: #73339c;
  border-top: 10px solid #73339c;
  border-bottom: 10px solid #73339c;
  border-left:2px solid #73339c;
  border-right:2px solid #73339c;
}
.sublista1_2_medio4 a{


  background: #3c2758;
  border-top: 10px solid #3c2758;
  border-bottom: 10px solid #3c2758;
  border-left:2px solid #3c2758;
  border-right:2px solid #3c2758;
}

.sublista1_1_competitividad a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:5px solid #2734CC;
  border-right:5px solid #2734CC;
  margin-left: 2px;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_1_medio a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:5px solid #2734CC;
  border-right:5px solid #2734CC;
  margin-left: 2px;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_1_seguridad a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:5px solid #2734CC;
  border-right:5px solid #2734CC;
  margin-left: 2px;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_1_gobierno a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:5px solid #2734CC;
  border-right:5px solid #2734CC;
  margin-left: 2px;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_2_gobierno1 a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:2px solid #2734CC;
  border-right:2px solid #2734CC;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_2_gobierno2 a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:2px solid #2734CC;
  border-right:2px solid #2734CC;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_2_gobierno3 a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:2px solid #2734CC;
  border-right:2px solid #2734CC;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_2_gobierno4 a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:2px solid #2734CC;
  border-right:2px solid #2734CC;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_2_medio1 a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:2px solid #2734CC;
  border-right:2px solid #2734CC;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_2_medio2 a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:2px solid #2734CC;
  border-right:2px solid #2734CC;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_2_medio3 a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:2px solid #2734CC;
  border-right:2px solid #2734CC;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_2_medio4 a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:2px solid #2734CC;
  border-right:2px solid #2734CC;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_2_seguridad1 a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:2px solid #2734CC;
  border-right:2px solid #2734CC;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_2_seguridad2 a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:2px solid #2734CC;
  border-right:2px solid #2734CC;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_2_seguridad3 a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:2px solid #2734CC;
  border-right:2px solid #2734CC;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_2_seguridad4 a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:2px solid #2734CC;
  border-right:2px solid #2734CC;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_2_competitividad1 a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:2px solid #2734CC;
  border-right:2px solid #2734CC;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_2_competitividad2 a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:2px solid #2734CC;
  border-right:2px solid #2734CC;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_2_competitividad3 a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:2px solid #2734CC;
  border-right:2px solid #2734CC;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.sublista1_2_competitividad4 a:hover{
  background-color:#2734CC;
  border-top: 10px solid #2734CC;
  border-bottom: 10px solid #2734CC;
  border-left:2px solid #2734CC;
  border-right:2px solid #2734CC;

  -moz-box-shadow:10px 10px 20px #000000;
  -webkit-box-shadow:10px 10px 20px #000000;

}
.button, .button:visited { /* botones genéricos */
background: #222 url(URL_overlay.png) repeat-x;
display: inline-block;
padding: 5px 10px 6px;
color: #FFF;
text-decoration: none;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-bottom: 1px solid rgba(0,0,0,0.25);
position: relative;
cursor:pointer
}
.button:hover { /* el efecto hover */
background-color: #111
color: #FFF;
}
.button:active{  /* el efecto click */
top: 1px;
}

/* botones pequeños */
.small.button, .small.button:visited {
font-size: 11px ;
}

/* botones medianos */
.button, .button:visited,.medium.button, .medium.button:visited {
font-size: 13px;
font-weight: bold;
line-height: 1;
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

/* botones grandes */
.large.button, .large.button:visited {
font-size:14px;
padding: 8px 14px 9px;
}

/* botones extra grandes */
.super.button, .super.button:visited {
font-size: 34px;
padding: 8px 14px 9px;
}

.red.button, .red.button:visited { background-color: #860C16; }
.red.button:hover{ background-color: #CF2525; }

label.filebutton {

    margin-left: 45%;
    width:10rem;
    height:10rem;
    overflow:hidden;
    position:relative;
    background-image:url(../img/excel.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;

}

label span input {
    z-index: 999;
    line-height: 0;
    font-size: 40px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}

.vr-all {
	padding:0px;
	border-right:1px dotted #2D2D2D;
}
.vr-xs {
	padding:0px;
}
.vr-md {
	padding:0px;
}
.hrspacing { padding:0px; }
.hrcolor {
	border-color: #2D2D2D;
	border-style: dotted;
	border-bottom: 1px;
	margin:0px;
	padding:0px;
}
/* remove right vertical rule on small */
@media(min-width:992px){
	.vr-xs {
		border-right:1px dotted #2D2D2D;
	}
	}


.imagen{
  height: 9ex;
  margin:2ex auto;
  text-align:center;
}

/*******************************************************************************************/

body {
position: relative;
overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
padding-left: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

#wrapper.toggled {
padding-left: 220px;
}

#sidebar-wrapper {
z-index: 1000;
left: 220px;
width: 0;
height: 100%;
margin-left: -220px;
overflow-y: auto;
overflow-x: hidden;
background: #1a1a1a;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
display: none;
}

#wrapper.toggled #sidebar-wrapper {
width: 220px;
}

#page-content-wrapper {
width: 100%;
padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
position: absolute;
margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
/*position: absolute;*/
top: 0;
width: 220px;
margin: 0;
padding: 0;
list-style: none;
}

.sidebar-nav li {
position: relative;
line-height: 20px;
display: inline-block;
width: 100%;
}

.sidebar-nav li:before {
content: '';
/*position: absolute;*/
top: 0;
left: 0;
z-index: -1;
height: 100%;
width: 3px;
background-color: #1c1c1c;
-webkit-transition: width .2s ease-in;
-moz-transition:  width .2s ease-in;
-ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;

}
/*.sidebar-nav li:first-child a {
color: #fff;
background-color: #1a1a1a;
}*/
/* colores originales
.sidebar-nav li:nth-child(2):before {
background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
background-color: #35acdf;
}
.sidebar-nav li:nth-child(10):before {
background-color: #f00;
}
********** terminan colores originales
*/
ul li:nth-child(7n):before {
background-color: #ec1b5a;
}
ul li:nth-child(7n+1):before {
background-color: #79aefe;
}
ul li:nth-child(7n+2):before {
background-color: #314190;
}
ul li:nth-child(7n+3):before {
background-color: #279636;
}
ul li:nth-child(7n+4):before {
background-color: #7d5d81;
}
ul li:nth-child(7n+5):before {
background-color: #ead24c;
}
ul li:nth-child(7n+6):before {
background-color: #2d2366;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
width: 100%;
-webkit-transition: width .2s ease-in;
-moz-transition:  width .2s ease-in;
-ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li a {
display: block;
color: #ddd;
text-decoration: none;
padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
color: #fff;
text-decoration: none;
background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
height: 65px;
font-size: 20px;
line-height: 44px;
}
.sidebar-nav .dropdown-menu {
position: relative;
width: 100%;
padding: 0;
margin: 0;
border-radius: 0;
border: none;
background-color: #222;
box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
position: fixed;
top: 20px;
z-index: 999;
display: block;
width: 32px;
height: 32px;
margin-left: 15px;
background: transparent;
border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
outline: none;
}
.hamburger.is-closed:before {
content: '';
display: block;
width: 100px;
font-size: 14px;
color: #fff;
line-height: 32px;
text-align: center;
opacity: 0;
-webkit-transform: translate3d(0,0,0);
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
opacity: 1;
display: block;
-webkit-transform: translate3d(-100px,0,0);
-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
position: absolute;
left: 0;
height: 4px;
width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
top: 5px;
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
top: 50%;
margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
bottom: 5px;
-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
top: 0;
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
bottom: 0;
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
top: 50%;
margin-top: -2px;
}
.hamburger.is-open .hamb-top {
-webkit-transform: rotate(45deg);
-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
-webkit-transform: rotate(-45deg);
-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
content: '';
display: block;
width: 100px;
font-size: 14px;
color: #fff;
line-height: 32px;
text-align: center;
opacity: 0;
-webkit-transform: translate3d(0,0,0);
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
opacity: 1;
display: block;
-webkit-transform: translate3d(-100px,0,0);
-webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
position: fixed;
display: none;
width: 100%;
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(250,250,250,.8);
z-index: 1;
}

.separa-arriba{
  margin-top: 2.2ex;
}
.separa-ambos{
  margin-top: 2.2ex;
  margin-bottom: 2.2ex;
}

.junta-arriba{
  margin-top: -2.2ex;
}
.junta-abajo{
  margin-bottom: -4.2ex;
}
.junta-ambos{
  margin-top: -2.2ex;
  margin-bottom: -2.2ex;
}
.icono-listado{
  height: 4.25ex;
  float: left;
  position: relative;
  left: 25%;
}

.nombre-tema{
  font-weight: bolder;
  font-size: 150%;
}

.panelE{
  margin-bottom:20px;
  background-color:#ee2e69;
  border:1px solid transparent;
  border-radius:4px;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);
  box-shadow:0 1px 1px rgba(0,0,0,0.05)
}

.panelLM{
  color: #fff;
  min-height: 8.5rem;
  position: relative;
  font-weight: bolder;
  font-size: 1.2em;
  margin-bottom:20px;
  background-color:#979596 !important;
  border:1px solid transparent;
  border-radius:4px;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);
  box-shadow:0 1px 1px rgba(0,0,0,0.05);
  padding: 0;
  /*vertical-align: middle;*/
  text-align: center;
}
.panelLM span{
  /*background-color: #b3df69 !important;*/
  padding: 0;
  margin: -0.1rem 0 0 -1.6rem;
  float: left;
  min-width: 9.5rem;
  min-height: 8.5rem !important;
  background-color: black;
  /*opacity: 0.3;*/
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;
}

.panelLM span>img{
  max-height: 8.3rem !important;
}

#lineasE a:hover, a:active, a:link, a:visited, a:focus{
  color: #fff;
  text-decoration: none;
}

.panelEM{
  margin-bottom:20px;
  /*background-color:#70a733;*/
  border:1px solid transparent;
  border-radius:4px;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);
  box-shadow:0 1px 1px rgba(0,0,0,0.05)
}

.panelI{
  padding: 0;
  margin-bottom:20px;
  background-color:#fff;
  border:1px solid transparent;
  border-radius:4px;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);
  box-shadow:0 1px 1px rgba(0,0,0,0.05)
}

.panel-indyce{
  /*padding:10px 15px;*/
  padding: 0;
  border-bottom:1px solid transparent;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  color:#fff;
  background-color: #fff;
  font-size: 2.6ex;
  /*border-color:#259434;*/
}

.panel-indyceM{
  /*padding:10px 15px;*/
  border-bottom:1px solid transparent;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  color:#fff;
  /*background-color:#70a733;*/
  font-size: 2.6ex;
  /*border-color:#259434;*/
}


.panel-encabezado{
  /*padding:10px 15px;*/
  /*padding: -2ex;*/
  /*padding-right: -2.2em;
  margin: -2.3ex -2.25em 0 0;*/
  border-bottom:1px solid transparent;
  border-top-right-radius:3px;
  /*border-top-left-radius:3px;*/
  background-color:#a7a5a6;
  border-color:#a7a5a6;
  min-height: 4.5rem !important;
}

.panel-encabezado .lnkIndicador{
  color:#fff !important;
  font-weight: bold;
  text-decoration: none;
  font-size: 2.25rem;
}

.imgIndicador span.sombra{
  float: left;
  min-width: 100%;
  min-height: 100% !important;
  opacity: 0.3;
  background-color: black;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;
  margin: 0;
}

.imgIndicador {
  padding: 0 !important;
  width: 100%
}

.btn-indyce{
  background-color: #a7a5a6;
  border-radius: 25px;
  margin-left: 0.8rem;
  padding: 0;
}

.btn-indyce-sqr{
  /*background-color: #a7a5a6;*/
  color: #a7a5a6 !important;
  border-right: 2.5px solid #a7a5a6;
}

.btn-indyce>a{
  color: #fff !important;
  font-weight: bold;
  padding: -0.5rem;
  font-size: 1.5rem;
  text-align: center;
}
.btn-indyce-sqr>span{
  color: #a7a5a6 !important;
  font-weight: bold;
  /*padding: -0.5em;*/
  font-size: 1.9rem;
  /*border-right: 1px solid #a7a5a6;*/
}

/* Nuevo */

.notice {
    padding: 15px;
    color: #2d2d2d;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-titulo {
    padding: 25px;
    font-size: 1.5rem;
    border-color: #438748;
    color: #438748;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
}
.notice-morado1 {
    border-color: #73339c;
}
.notice-morado1>strong {
    color: #73339c;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
.notice-azul1 {
    border-color: #18a0c1;
}
.notice-azul1>strong {
    color: #18a0c1;
}
.notice-verde1 {
    border-color: #59c143;
    color: #6c6c6c;
    font-size: 1.15rem;
}
.notice-verde1>strong {
    color: #59c143;
    font-size: 1.05rem;
}
.notice-verde2 {
    border-color: #82cf56;
}
.notice-verde2>strong {
    color: #82cf56;
}
.notice-verde3 {
    border-color: #a1da72;
}
.notice-verde3>strong {
    color: #a1da72;
}
.notice-naranja1 {
    border-color: #ee2e26;
}
.notice-naranja1>strong {
    color: #ee2e26;
}

.izquierda{
  float: left;
}

.icono-texto{
  height:2.5rem;
}

.lateral{
  height: 100%;
}

/*.progress {
  height: 3em;
  line-height: 2.3em;
}

.progress-bar {
  transition: width 1s ease-in-out;
  color: #336;
  font-size: 2.8em;
}*/


/* BOTONES */

.botonDocumentos{
  margin:0 0 1.2rem 0;
  font-family: inherit;
  background: #f03981;
  min-height: 7.5rem !important;
  display:block;
  width:100%;
  min-width: 15rem;
  /*padding-right:0;
  padding-left:0;*/
  font-size:1.75rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  /*vertical-align: middle;*/
  border-radius:4px;
  position: relative;
  /*padding-top: 15%;*/
}
.principal{
  font-size: 200%;
  color: #fff;
  hover: #fff;
  text-decoration: none;
}
.botonIndyce{
  margin:0 0 1.2rem 0;
  font-family: inherit;
  background: #f03981;
  min-height: 4.8rem !important;
  display:block;
  width:100%;
  /*padding-right:0;
  padding-left:0;*/
  font-size:1.4rem;
  color: #fff !important;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  bottom: 0;
  /*vertical-align: middle;*/
  border-radius:4px;
  /*padding-top: 15%;*/
}
.botonIndyce a{
  line-height:normal;
  vertical-align: middle;
}
.botonIndyce{
  cursor:pointer;
  -webkit-appearance:button;
}
#temas a{
}
a[type="button"]:hover, a[type="button"]:active, a[type="button"]:link, a[type="button"]:visited, a[type="button"]:focus{
  color: #fff;
  text-decoration: none;
}

.botonIndyce>span.obscuro{
  float: left;
  min-width: 7.8rem;
  max-width: 100%;
  min-height: 4.7rem !important;
  background-color: black;
  opacity: 0.3;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;
}
.botonIndyce>span.numero{
  float: left;
  min-width: 9rem;
  /*min-height: 3.6em !important;*/
  opacity: 0.3;
  font-size: 4.2rem !important;
  color: #000 !important;
  /*vertical-align: middle !important;*/
  /*margin-bottom: 5em !important;*/
}
.botonIndyce>span>img{
  /*margin-left: 0.75em;*/
  margin-top: 0.25vh;
  text-align: center;
  /*float: left;*/
  /*width: 5em;*/
  /*min-width: 10%;*/
  max-height: 4.7rem !important;
  width: auto;
  /*max-width: 50%;*/
  z-index: 1000;
  opacity: 1 !important;
}

.indicadoresInactivo{
  background: #f03981;
  font-size: 2.5rem;
  color: #fff;
  hover: #fff;
  text-decoration: none;
  margin:0 0 1.2em 0;
  font-family: inherit;
  min-height: 3em !important;
  display:block;
  width:100%;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  border-radius:4px;
}
.indicadoresInactivo>span{
  float: left;
  min-width: 17.5%;
  min-height: 3em !important;
  background-color: black;
  opacity: 0.3;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;
}
.indicadoresActivo>span>img{
  margin-top: 0.3em;
  max-height: 2.3em !important;
}
.indicadoresInactivo>span>img{
  margin-top: 0.3em;
  max-height: 2.3em !important;
}
.metasActivo>span>img{
  margin-top: 0.3em;
  max-height: 2.3em !important;
}
.metasInactivo>span>img{
  margin-top: 0.3em;
  max-height: 2.3em !important;
}
.indicadoresActivo{
  text-decoration: none !important;
  text-shadow: 0px 1px #6c6c6c;
  background: #d3d2d2;
  font-size: 2.5rem;
  color: #f03981 !important;
  hover: #fff;
  margin:0 0 0 0;
  font-family: inherit;
  min-height: 3em !important;
  display:block;
  width:100%;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  border-radius:4px;
  border: 2px solid #f03981 !important;
}
.indicadoresActivo>span{
  float: left;
  min-width: 17.5%;
  min-height: 2.9em !important;
  background-color: black;
  opacity: 0.3;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;
  /*border: 2px solid #f03981 !important;*/
}
.metasInactivo{
  background: #70a733;
  font-size: 2.5rem;
  color: #fff;
  hover: #fff;
  text-decoration: none;
  margin:0 0 1.2em 0;
  font-family: inherit;
  min-height: 3em !important;
  display:block;
  width:100%;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  border-radius:4px;
}
.metasInactivo>span{
  float: left;
  min-width: 17.5%;
  min-height: 3em !important;
  background-color: black;
  opacity: 0.3;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;
}
.metasActivo{
  text-decoration: none !important;
  text-shadow: 0px 1px #6c6c6c;
  background: #d3d2d2;
  font-size: 2.5rem;
  color: #70a733 !important;
  hover: #fff;
  margin:0 0 1.2em 0;
  font-family: inherit;
  min-height: 3em !important;
  display:block;
  width:100%;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  border-radius:4px;
  border: 2px solid #70a733 !important;
}
.metasActivo>span{
  float: left;
  min-width: 17.5%;
  min-height: 2.9em !important;
  background-color: black;
  opacity: 0.3;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;
}

.progress-wrapper{
    position: relative;
    margin:20px auto;
    background-color: #fff !important;
    border: none;
}

.progress{
    position: absolute;
    color: #bbb;
    /*font-weight: 100;*/
    line-height: 0.8;
    background-color: #fff !important;
    margin: 30% auto 0 25%;
    font-size: 1.25em;
    border: 0px solid #fff !important;
    /*bottom: 0;*/
}

.container-progress{
    width: 100%;
    /*max-width: 650px;*/
    margin: 40px auto 80px;
    text-align: center;
    /*padding: 40px;*/
    background: #fff;
    border: solid 0px #ccc;
    border-radius: 4px;
}

.ng-cloak{
    display: none;
}

.botonSEE{
  position: relative;
  margin:0 0 8rem 0;
  font-family: inherit;
  /*background: #f03981;*/
  min-height: 18.5vh !important;
  display:block;
  width:100%;
  /*padding-right:0;
  padding-left:0;*/
  font-size:1.5rem;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  /*vertical-align: middle;*/
  border-radius:12px;
  /*padding-top: 15%;*/
}

.subtitulo{
  /*font-size: 0.9rem;*/
  margin-top: 0;
  text-transform: none;
  opacity: 0.8;
}

#see .botonSEE:hover{
  background-color: #fff !important;
  color: #6c6c6c;
}

.botonSEE{
  border-color: 0.5rem solid gray !important;
}

.panelD{
  color: #6c6c6c;
  min-height: 6.6rem;
  position: relative;
  font-weight: bolder;
  font-size: 1.4rem;
  margin-bottom:20px;
  background-color:#fff !important;
  /*border:0.15rem solid #a7a5a6;*/
  border-radius:1rem;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);
  box-shadow:0 1px 1px rgba(0,0,0,0.05);
  padding: 0;
  /*vertical-align: middle;*/
  text-align: center;
}
.panelD>span{
  /*background-color: #b3df69 !important;*/
  padding: 0;
  margin: 0;
  float: left;
  min-width: 20%;
  min-height: 6.3rem !important;
  background-color: black;
  /*opacity: 0.3;*/
  border-top-left-radius:0.6rem;
  border-bottom-left-radius:0.6rem;
}
.panelD>span>a>img{
  max-height: 6rem !important;
  width: auto;
}
#destacados a{
  color:#6c6c6c;
  text-decoration: none;
}
#destacados a:hover{
  color:#6c6c6c;
  text-decoration: none;
}

.indicadoresInactivo{
  text-align: center;
}

.indicadoresInactivo:before{
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: -0.25em;
  vertical-align: middle;
}

.textoBoton{
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  /*background-color: #EDF28C;*/
  padding: 2.5vh 15px;
  /*border: #a0a0a0 solid 1px;*/
}

.odsInactivo{
  cursor: not-allowed !important;
  pointer-events: none !important;
  color: #c2c2c2 !important;
}

.carousel-content {
    color: #fff;
    display:flex;
    align-items:center;
    /*background-color: #70a733;*/
}


/* CSS para organigrama */

/*Now the CSS*/
* {margin: 0; padding: 0;}

.tree ul {
    padding-top: 20px; position: relative;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/

.foto-center{
  border:inherit 8px #000000;
  -moz-border-radius-topleft: 75px;
  -moz-border-radius-topright:75px;
  -moz-border-radius-bottomleft:75px;
  -moz-border-radius-bottomright:75px;
  -webkit-border-top-left-radius:75px;
  -webkit-border-top-right-radius:75px;
  -webkit-border-bottom-left-radius:75px;
  -webkit-border-bottom-right-radius:75px;
  border-top-left-radius:75px;
  border-top-right-radius:75px;
  border-bottom-left-radius:75px;
  border-bottom-right-radius:75px;
}
