<div ng-controller="AccordionDemoCtrl">
  <script type="text/ng-template" id="group-template.html">
  <div class="panel-heading">
  <h4 class="panel-title" style="color:#fa39c3">
  <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
  <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
  {{heading}}
  </span>
  </a>
  </h4>
  </div>
  <div class="panel-collapse collapse" uib-collapse="!isOpen">
  <div class="panel-body" style="text-align: right" ng-transclude></div>
  </div>
  </script>
</div>
<div class="row separa-ambos" >
  <div class="notice notice-titulo">
    <strong>Nombre del indicador:</strong>
    <br>
    {{nombreIndica}}
  </div>
    <div class="col-md-12 " ng-controller="DesagregadoCtrl">


        <uib-accordion close-others=true ng-repeat="municipio in municipios" class="junta-abajo">
          <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
              {{municipio.nombre}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <div class="col-md-6">
            <div class="notice notice-verde1">
              <strong> Datos históricos</strong><br><br>
              <table class="table">
                <tr>
                  <th>Año</th><th style="text-align:center">Valor</th>
                </tr>
                <tr ng-repeat="dato in datosMunicipales | filter:{ municipio: municipio.id_municipio } : true">
                  <td>{{dato.ejercicio}}</td><td style="text-align:right">{{dato.resultado|number:"2"}}</td>
                </tr>
              </table>
            </div>
            </div>
          </div>
        </uib-accordion>
      </div>

    </div>
