<!-- <ul class="nav sidebar-nav" id="barraLateral"> -->
  <!-- <li class="sidebar-brand">
    <a href="#!/">
      Temas
    </a>
  </li> -->
  <div id="metas">
    <table class="table">
      <tr>
        <th class="col-sm-3" style="font-size: 0.95em">Nombre de la meta</th>
        <th class="col-sm-3" style="font-size: 0.95em">Dependencia responsable</th>
        <th class="col-sm-2" style="font-size: 0.95em">Avance (%)</th>
        <th class="col-sm-4" style="font-size: 0.95em">Descripción del avance</th>
      </tr>
      <tr style="font-size:0.9em" ng-repeat="meta in datosMetas">
        <td>{{meta.meta_descripcion}}</td>
        <td>{{meta.dependencia}}</td>
        <td style="text-align:right"><div mensaje></div></td>
        <td>{{meta.descripcion_avance}}</td>

        <!-- <div title="Tech Hours Progress" data-toggle="tooltip">
          <td style="text-align:right">
            {{meta.avance|number:"2"}}
          </td>
        </div> -->
        <!-- <td>
          <div class="progress" title="Tech Hours Progress" data-toggle="tooltip">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              {{meta.avance|number:"2"}} %
            </div>
          </div>
        </td> -->
        <!-- <td style="text-align:right">{{meta.meta|number:"2"}}</td> -->
      </tr>
    </table>
  </div>
<!-- </ul>

<div ng-repeat="tema in temas">
  <a href="#!/indicadores/{{tema.id_tema}}/icono/{{tema.icono}}/tema/{{tema.nombre_tema}}"><span><img ng-src="img/temas/{{tema.icono}}" width="24px"/></span>&nbsp;{{tema.nombre_tema}}</a>
</div> -->
