<div class="separa-arriba">
  <h2 style="text-align:center; color: #b32c28;">Metas</h2>
</div>

<div ng-controller="AccordionDemoCtrl">
  <script type="text/ng-template" id="group-template.html">
  <div class="panel-heading">
  <h4 class="panel-title" style="color:#fa39c3">
  <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
  <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
  {{heading}}
  </span>
  </a>
  </h4>
  </div>
  <div class="panel-collapse collapse" uib-collapse="!isOpen">
  <div class="panel-body" style="text-align: right" ng-transclude></div>
  </div>
  </script>
</div>
<div class="row separa-ambos" >
  <!-- <div class="notice notice-titulo">
  <strong>Nombre del indicador:</strong>
  <br>
  {{nombreIndica}}
</div> -->
<div class="col-md-12 " ng-controller="LineasCtrl">


  <uib-accordion close-others=true ng-repeat="linea in lineas" class="junta-abajo">
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading>
        {{linea.nombre}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <div class="col-md-12">
        <div class="notice notice-verde1">
          <table class="table">
            <tr>
              <th>Nombre de la meta</th><th>Meta</th><th style="text-align:center">Avance</th>
            </tr>
            <tr ng-repeat="meta in datosMetas | filter:{ linea_estrategica: linea.id_linea } : true">
              <td>{{meta.meta_descripcion}}</td><td style="text-align:right">{{meta.meta|number:"2"}}</td><td style="text-align:right">{{meta.avance|number:"2"}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </uib-accordion>
</div>

</div>
