<div class="separa-arriba">
  <h2 style="text-align:center; color: #b32c28;">Metas | Eje {{ejeElegido}}. {{nombreEje}}</h2>
</div>

<div ng-controller="AccordionDemoCtrl">
  <script type="text/ng-template" id="group-template.html">
  <div class="panel-heading">
  <h4 class="panel-title" style="color:#fa39c3">
  <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
  <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
  {{heading}}
  </span>
  </a>
  </h4>
  </div>
  <div class="panel-collapse collapse" uib-collapse="!isOpen">
  <div class="panel-body" style="text-align: right" ng-transclude></div>
  </div>
  </script>
</div>
<div class="row separa-ambos" >
  <!-- <div class="notice notice-titulo">
  <strong>Nombre del indicador:</strong>
  <br>
  {{nombreIndica}}
</div> -->
<div class="col-md-12 " ng-controller="LineasCtrl">


  <uib-accordion close-others=true ng-repeat="linea in lineas" class="junta-abajo">
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading>
        {{linea.nombre}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <div class="col-md-12">
        <div class="notice notice-verde1" ng-controller="Ctrl2">
          <table class="table">
            <tr>
              <th class="col-sm-3" style="font-size: 0.95em">Nombre de la meta</th>
              <th class="col-sm-3" style="font-size: 0.95em">Dependencia responsable</th>
              <th class="col-sm-2" style="font-size: 0.95em">Avance (%)</th>
              <th class="col-sm-4" style="font-size: 0.95em">Descripción del avance</th>
              <!-- <th style="text-align:center">Meta</th> -->
            </tr>
            <tr style="font-size:0.9em" ng-repeat="meta in datosMetas | filter:{ linea_estrategica: linea.id_linea } : true">
              <td>{{meta.meta_descripcion}}</td>
              <td>{{meta.dependencia}}</td>
              <td style="text-align:right"><div mensaje></div></td>
              <td>{{meta.descripcion_avance}}</td>
              <!-- <td>
                <div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">

                    <button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button>

                    <div class="modal-parent">
                    </div>
                </div>

              </td> -->
              <!-- <div title="Tech Hours Progress" data-toggle="tooltip">
                <td style="text-align:right">
                  {{meta.avance|number:"2"}}
                </td>
              </div> -->
              <!-- <td>
                <div class="progress" title="Tech Hours Progress" data-toggle="tooltip">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    {{meta.avance|number:"2"}} %
                  </div>
                </div>
              </td> -->
              <!-- <td style="text-align:right">{{meta.meta|number:"2"}}</td> -->
            </tr>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </uib-accordion>
</div>

</div>

<!-- <div id="myModalContent">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <h1>HOLA</h1>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </div> -->
