<div class="row separa-ambos" ng-repeat="metadato in metadatos">

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="notice notice-titulo">
      <strong>Nombre del indicador:</strong>
      <div style="float:right"  ng-show="objetoMunicipal">
        <a class="btn btn-success" href="#!/desagregado/{{indicadorElegido}}"> <span style="float:left; margin-top:0.5em;"> &nbsp; <img class="icono-texto" src="img/desagregado.png" alt="" /></span> &nbsp;  Desagregado <br> por municipio </a>
      </div>
      <br>
      {{metadato.nombre}}
    </div>

    <div class="notice notice-verde1">
      <strong>Gráfica del indicador</strong><br><br>
      <nvd3 options="options" data="data"></nvd3>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="notice notice-verde1" ng-show="metadato.definicion">
      <strong>Descripción</strong> <br>
      {{metadato.definicion}}
    </div>
    <div class="notice notice-verde1" ng-show="metadato.u_medida">
      <strong>Unidad de medida</strong><br>
      {{metadato.u_medida}}
    </div>
    <div class="notice notice-verde1" ng-show="metadato.tendencia">
      <strong>Tendencia deseada</strong><br>
      {{metadato.tendencia}}
    </div>
    <div class="notice notice-verde1" ng-show="metadato.peiodicidad">
      <strong>Periodicidad</strong> <br>
      {{metadato.peiodicidad}}
    </div>
    <!--<div class="notice notice-verde1">
    <strong>Fuente:</strong><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div> -->
</div>

<div class="col-md-6" ng-controller="DetallesCtrl">

  <div class="notice notice-verde1">
    <strong>Datos históricos</strong><br><br>
    <table class="table">
      <tr>
        <th>Año</th><th>Valor</th>
      </tr>
      <tr ng-repeat="dato in datos">
        <td>{{dato.ejercicio}}</td><td style="text-align:right">{{dato.resultado|number:"2"}}</td>
      </tr>
    </table>
  </div>
</div>

</div>

</div>
